.button {
  display: flex;
  justify-content: flex-end;
}

.btn-primary {
  display: flex;
  cursor: pointer;
  background-color: #e28a8a;
  border-radius: 9.5px;
  padding: 0.5rem;
  margin: 1rem;
  text-decoration: none;
}
