div img {
  margin: 2.5rem;
 margin-top: 3rem;
  margin-left: 4rem;
  height: 15rem;
  width: 15rem;
  border-radius: 26px;
  cursor: pointer;
}

.galerie {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.galerie img {
  margin: 3rem;
  padding: 0.5rem;
  height: 15rem;
  width: 15rem;
  border-radius: 26px;
}
