 div img {

    margin: 3rem;
    padding: .5rem;
    height: 15rem;
    width: 15rem;
    border-radius: 26px;
    cursor: pointer;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
 }


 .galerie {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }

 .galerie img {
    margin: 1.5rem;
    padding: .5rem;
    height: 15rem;
    width: 15rem;
    max-width: 100%;
    border-radius: 26px;
    object-fit: cover;
    object-position: center;


 }